@model FalseTrueQuestionViewModel

<div>
    <div class="row">
        @Model.Statement
    </div>
    <div class="row">
        <div class="col">
            <div class="col">
                <input type="radio" id="@Model.Id-True" name="[@ViewData["QuestionIndex"]].SelectedChoice" value="true" checked="checked">
                <label for="@Model.Id-True">True</label>
            </div>
            <div class="col">
                <input type="radio" id="@Model.Id-False" name="[@ViewData["QuestionIndex"]].SelectedChoice" value="false">
                <label for="@Model.Id-False">False</label>
            </div>
        </div>
    </div>
</div>