@model MultipleChoiceQuestionViewModel

<div">
    <input type="hidden" name="Index" value="@(Model.QuestionId - 1)">
    <input type="hidden" name="[@(Model.QuestionId - 1)].Kind" value="@Model.Kind">
    <input type="hidden" name="[@(Model.QuestionId - 1)].QuestionId" value="@Model.QuestionId">
    <div class="row">
        @Model.Stem
    </div>
    <div class="row">
        <div class="col">
            @for (int i = 0; i < Model.Choices.Count; i++)
            {
                <div class="col">
                    <input type="checkbox" id="@Model.QuestionId-@Model.Choices[i].Id-Checkbox"
                           name="[@(Model.QuestionId - 1)].SelectedChoicesId"
                           value="@Model.Choices[i].Id">
                    <label for="@Model.QuestionId-@Model.Choices[i].Id-Checkbox">@Model.Choices[i].Description</label>
                </div>
            }
        </div>
    </div>
</div>

