@model MultipleChoiceQuestionViewModel

<div>
    <div class="row">
        @Model.Stem
    </div>
    <div class="row">
        <div class="col">
            @{
                if (Model.Choices is { } choices)
                {
                    for (int i = 0; i < choices.Count; i++)
                    {
                        <input type="hidden" name="[@ViewData["QuestionIndex"]].Choices[@i].Id" value="@choices[i].Id">
                        <div class="col">
                            <input type="checkbox" id="@Model.Id-@choices[i].Id-Checkbox"
                                   name="[@ViewData["QuestionIndex"]].Choices[@i].IsSelected"
                                   value="true">
                            <label for="@Model.Id-@choices[i].Id-Checkbox">@choices[i].Description</label>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

